section(class='outstanding-slider py-[32px] m:py-[64px] lg:py-[80px]')
	div(class='container flex flex-col')
		div(class='flex flex-col pb-[20px] m:pb-[32px] lg:pb-[40px]')
			span(class='text-[#FFF] text-[28px] text-center m:text-[48px] lg:text-[80px] font-bold leading-[120%]')
				| Outstanding&nbsp;
				span(class='bas-gold-text') Perks 
			span(class='text-[#FFF] text-center font-montserrat text-[12px] m:text-[20px] lg:text-[32px] font-semibold leading-[180%] tracking-[-0.32px]') We offer incredible offers and promos
		div(class='flex flex-col')
			div(class='container')
				div(class='swiper home-choose-slider')
					div(class='swiper-wrapper mb-[58px] m:mb-[66px] lg:mb-[74px]')
						-for(let item of perksSlider)
							a(href=item.url, id=item.id, class='swiper-slide relative' target='_blank')
								img(src=item.img, class='w-full h-full block object-cover' alt=item.title)
								div(class='absolute z-10 h-[30%] w-full bottom-0 flex flex-col items-center justify-center')
									h3(class='bas-gold-text m-0 font-montserrat text-[10px] m:text-[16px] lg:text-[28px] font-bold leading-[132%] -tracking-[0.44px] uppercase') #{item.title}
					div(class='w-full h-[26px] m:h-[35px] lg:h-[50px] absolute bottom-[10px]')
						div(class='swiper-button-prev after:hidden bg-[url(https://img.betanysports.eu/left-arrow.svg)] bg-[white] bg-no-repeat bg-center bg-cover !size-[23px] m:!size-[31px] lg:!size-[48px] rounded-full absolute !left-[77%] sm:!left-[87%] m:!left-[89%] lg:!left-[91%]')
						div(class='swiper-button-next after:hidden bg-[url(https://img.betanysports.eu/right-arrow.svg)] bg-[white] bg-no-repeat bg-center bg-cover !size-[23px] m:!size-[31px] lg:!size-[48px] rounded-full')

	div(class='container flex justify-center pt-[32px] m:pt-[80px]')
		a(href="https://signup.betanysports.eu?&utm_campaign=canadian-sportsbook-offer-all-a-DBC3018-signup-contact", class='btn w-[280px] h-[45px] m:w-[355px] m:h-[75px] text-[14px] m:text-[24px] uppercase' id='contactUs') contact us
